// Global styles
.error {
  height: 100%;
  width: 100%;
  .error__text {
    padding-top: 10%;
  }
}

.loading {
  height: 100%;
  padding-top: 10%;
  width: 100%;
}

.row_large {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 2.5rem;
}

.row_small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2.5rem;
}
