.predictions {
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  margin: 0 auto;
  min-height: 100px;
  width: 350px;
  @include media(tablet) {
    width: 500px;
  }
  @include media(mediumDesktop) {
    width: 600px;
  }
  @include media(largeDesktop) {
    width: 600px;
  }
  header {
    .predictions__title,
    .predictions__info {
      text-align: center;
      .predictions__info--direction-text {
        text-transform: capitalize;
      }
    }
  }
  section {
    .predictions__selected-route {
      margin-bottom: 10px;
      .predictions__no-predictions {
        font-weight: bold;
      }
      .predictions__selected-route--time {
        padding-left: 10px;
        &:first-of-type {
          font-weight: bold;
          font-size: 2.5em;
        }
      }
    }
    .predictions__alerts {
      margin-top: 15px;
      .predictions__alerts--item {
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }
}
